
<%- include('header') %>
<body>
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
    MENU
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <li><button class="dropdown-item" type="button">ITEMS</button></li>
    <li><button class="dropdown-item" type="button"></button></li>
    <li><button class="dropdown-item" type="button">Something else here</button></li>
  </ul> &nbsp;
&nbsp; 
<button type="button" class="btn btn-danger">COUSINIES</button>&nbsp;
&nbsp; 
<button type="button" class="btn btn-danger">PURE VEG</button>&nbsp;
&nbsp; 
<button type="button" class="btn btn-danger">NON VEG</button>
    <br>
<div class="d-grid gap-2 col-6 mx-auto" >
    <div class="card shadow-lg rounded p-3 ">
<form action="/<%= blog.id %>?_method=PUT" method="POST">
<div class="form-group">
<label for="title" >Restaurant Name</label>
<input width="2px" required  type="text" name="restname"  value="<%= blog.restname%>" class="form-control">
</div>

<br>
<div class="form-group">
  <label for="title" >Category</label>
<select required name="category" id="category" value="<%= blog.category%>" >
  <option value="Veg" >Veg</option> 
  <option value="Non-veg">Non-veg</option>
  </select>
  </div>
  <br>
<div class="form-group">
<label for="title" >City</label>
<input width="2px" required  type="text" name="city"  value="<%= blog.city %>"  class="form-control">
</div>
<br>
<div class="form-group">
<label for="title" >state</label>
<input width="2px" required  type="text" name="state"  value="<%= blog.state %>" class="form-control">
</div>
<br>


<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Edit</button>

<br>
</form>